body{
    background: #ffffff;
}
img{
    max-width: 100%;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.news-front{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "l . ."
    "l d d"
    ;
    gap: 24px;
}
.large{
    grid-area: l;
}
.double{
    grid-area: d;
}