.wrapper, .header-top, .footer-inside{
    max-width: 1200px;
    margin: 0 auto;
}
a:hover{
    color: #ea1717;
}
h3{
    a{
        color: #000000;
        text-decoration: none;
        font-size: calc(18px + 0.15vw);
    }
}
.label{
    a{
        color: #ff0000;
        text-decoration: none;
        font-size: calc(14px + 0.15vw);
    }
}