.nav-top{
    @media screen and (max-width: 768px) {
        display: none;
    }
    .nav-inside{
        display: flex;
        width: 60%;
        margin: 0 auto;
    }
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: calc(10px + 0.5vw);
    font-weight: bold;
    margin-bottom: 2%;
    a{
        padding: 1% 1%;
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
        &:hover{
            color: #ffffff;
            background: #000000;
        }
        &:last-child{
            margin-left: auto;
        }
    }
}

.footer-nav{
display: flex;
grid-area: fn;
align-self: center;
font-weight: bold;
font-size: 12px;
    a{
        padding: 0 4%;
        text-transform: uppercase;
    }
}