.news-img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.news-front article:nth-of-type(1) .news-img{
    background: url("../img/27-1068x713.jpg") center / cover;
}
.news-front article:nth-of-type(2) .news-img{
    background: url("../img/18-1068x712.jpg") center / cover;
}
.news-front article:nth-of-type(3) .news-img{
    background: url("../img/23-1068x712.jpg") center / cover;
}
.news-front article:nth-of-type(4) .news-img{
    background: url("../img/26-1068x712.jpg") center / cover;
}

.news-end article:nth-of-type(1) .news-img{
    background: url("../img/27-1068x713.jpg") center / cover;
}
.news-end article:nth-of-type(2) .news-img{
    background: url("../img/35-1068x711.jpg") center / cover;
}
.news-end article:nth-of-type(3) .news-img{
    background: url("../img/40-1068x1602.jpg") center / cover;
}
.news-end article:nth-of-type(4) .news-img{
    background: url("../img/30-1068x647.jpg") center / cover;
}
.news-end article:nth-of-type(5) .news-img{
    background: url("../img/34-1068x713.jpg") center / cover;
}
.news-end article:nth-of-type(6) .news-img{
    background: url("../img/39-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(7) .news-img{
    background: url("../img/29-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(8) .news-img{
    background: url("../img/33-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(9) .news-img{
    background: url("../img/38-1068x711.jpg") center / cover;
}
.news-three article:nth-of-type(1) .news-img{
    background: url("../img/22-324x400.jpg") center / cover;
}
.news-three article:nth-of-type(2) .news-img{
    background: url("../img/11-696x1044.jpg") center / cover;
}
.news-three article:nth-of-type(3) .news-img{
    background: url("../img/17-1068x797.jpg") center / cover;
}
.news-latest article .news-img{
    background: url("../img/17-1068x797.jpg") center / cover;
}

img{
    max-width: 100%;
}
.news-front{
    display: grid;
    grid-template-columns: 40% repeat(2, 1fr);
    grid-template-rows: calc(250px + 5vw) calc(120px + 5vw);
    grid-template-areas:
    "l . ."
    "l d d"
    ;
    gap: 2%;
    article{
        display: grid;
        grid-template-rows: 60% 40%;
    }
    .large{
        grid-area: l;
        display: grid;
        grid-template-rows: 80% 20%;
    }
    .double{
        grid-area: d;
        grid-template-columns: 50% 50%;
        grid-template-rows: none;
        flex-direction: row;
        align-items: center;
    }
}
.news-latest{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, calc(250px + 5vw));
    gap: 2%;
}
.img-link{
    height: 100%;
    width: 100%;
}
.news-text{
    border: 1px solid #d3d3d3;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

article{
    display: flex;
    flex-direction: column;
}

.news-end{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, calc(250px + 5vw));
    gap: 2%;
    article{
        position: relative;
    }
    .news-end-text{
        padding: calc(5px + .5vw);
        background: #ffffff;
        position: absolute;
        bottom: 10%;
        width: 90%;
    }
}

.news-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(450px + 5vw);
    gap: 2%;
    article{
        position: relative;
    }
    .news-three-text{
        padding: calc(5px + .5vw);
        position: absolute;
        bottom: 0;
        text-align: center;
        a{
            color: #ffffff;
        }
        .label{
            background: #ff0000;
            padding: 0 10%;
        }
    }
}
.trending{
    display: flex;
    padding: 20px;
    margin: 50px auto;
    width: 70%;
    background: #eaeaea;
}
.trending-txt{
text-transform: uppercase;
color: #ffffff;
background: #ff0000;
padding: 0.7% 20px;
margin-right: 2%;
}
.swiper-slide{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
}
.prev, .next{
    width: 25px;
    height: 25px;
    border: 1px solid #d3d3d3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: #ff0000;
    }
}
.next{
    right: 0;
    &::before{
        content: ">";
        font-size: 12px;
    }
    &:hover::before{
        color: #ffffff;
    }
}
.prev{
    right: 6%;
    &::before{
        content: "<";
        font-size: 12px;
    }
    &:hover::before{
        color: #ffffff;
    }
}