.news-img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.news-front article:nth-of-type(1) .news-img{
    background: url("../img/27-1068x713.jpg") center / cover;
}
.news-front article:nth-of-type(2) .news-img{
    background: url("../img/18-1068x712.jpg") center / cover;
}
.news-front article:nth-of-type(3) .news-img{
    background: url("../img/23-1068x712.jpg") center / cover;
}
.news-front article:nth-of-type(4) .news-img{
    background: url("../img/26-1068x712.jpg") center / cover;
}

.news-end article:nth-of-type(1) .news-img{
    background: url("../img/27-1068x713.jpg") center / cover;
}
.news-end article:nth-of-type(2) .news-img{
    background: url("../img/35-1068x711.jpg") center / cover;
}
.news-end article:nth-of-type(3) .news-img{
    background: url("../img/40-1068x1602.jpg") center / cover;
}
.news-end article:nth-of-type(4) .news-img{
    background: url("../img/30-1068x647.jpg") center / cover;
}
.news-end article:nth-of-type(5) .news-img{
    background: url("../img/34-1068x713.jpg") center / cover;
}
.news-end article:nth-of-type(6) .news-img{
    background: url("../img/39-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(7) .news-img{
    background: url("../img/29-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(8) .news-img{
    background: url("../img/33-1068x712.jpg") center / cover;
}
.news-end article:nth-of-type(9) .news-img{
    background: url("../img/38-1068x711.jpg") center / cover;
}

img{
    max-width: 100%;
}
.news-front{
    display: grid;
    grid-template-columns: 40% repeat(2, 1fr);
    grid-template-rows: calc(250px + 5vw) calc(120px + 5vw);
    grid-template-areas:
    "l . ."
    "l d d"
    ;
    gap: 2%;
}
.img-link{
    height: 100%;
    width: 100%;
}
.news-text{
    border: 1px solid #d3d3d3;
    padding: calc(5px + .5vw);
}
.large{
    grid-area: l;
}
.double{
    grid-area: d;
    flex-direction: row;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
}

.news-end{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, calc(250px + 5vw));
    gap: 2%;
    article{
        position: relative;
    }
    .news-end-text{
        padding: calc(5px + .5vw);
        background: #ffffff;
        position: absolute;
        bottom: 10%;
        width: 90%;
    }
}